html {
	box-sizing: border-box; 
}

*,
*:before, 
*:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	line-height: 21px;
	font-size: 14px;
	font-weight: normal;
	font-family: "PT Sans", "Arial", sans-serif;
	color: #000000;
}

.container {
	position: relative;
	width: 1200px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.inner {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 6%;
	padding-right: 6%;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

/*======================================================
						Header
========================================================*/

.main-header {
	width: 100%;
	vertical-align: middle;
}

.menu-logo {
	position: absolute;
	top: 0;
	left: 50%;
	z-index: 10;
	width: 138px;
	height: 70px;
	margin-left: -69px;
}

.menu {
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu li {
	float: left;
	width: 20%;
	padding-top: 14px;
	padding-bottom: 15px;
	list-style-type: none;
	text-align: left;
}

.menu li:nth-child(3),
.menu li:nth-child(4) {
	float: right;
	text-align: right;
}

.menu a {
	display: inline-block;
	line-height: 26px;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	color: #000000;
}

.menu a:hover {
	color: #81b3d2;
}

.menu a:active {
	color: #b2b2b2;
}

a.active {
	color: #766357;
}

/*=============================================
					Main
===============================================*/

.card {
	position: relative;
	height: 509px;
	padding-top: 76px;
	padding-bottom: 80px;
	text-align: center;
	background: #88b4fc url("../img/background-photo.jpg") 0 -55px no-repeat;
}

.card::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 57px;
	right: 0;
	bottom: 0;
	background: url("../img/mask.png") 0 0 no-repeat;
}

.promo-container {
	padding: 55px;
	padding-bottom: 37px;
}

.promo-container-title {
	width: 100%;
	margin-top: 5px;
	margin-bottom: 34px;
	line-height: 26px;
	font-size: 21px;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;
}

.promo-container-text {
	width: 100%;
	margin-top: -7px;
	line-height: 26px;
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
	color: #333333;
}

.main-information {
	width: 100%;
	height: 256px;
}

.description {
	float: left;
	width: 400px;
}

.view {
	float: right;
	width: 800px;
	height: 256px;
}

.description-features {
	padding: 45px;
	background-color: #81b3d2;
}

.description-title {
	margin-top: 2px;
	margin-bottom: 24px;
	line-height: 21px;
	font-size: 21px;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	color: #ffffff;
}

.description-number {
	line-height: 21px;
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
}

.description-number::after,
.description-number::before,
.features-number::after,
.features-number::before {
	content: " — ";
}

.description-text {
	margin-top: 21px;
	line-height: 21px;
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
}

.recom {
	width: 400px;
	padding: 55px;
	padding-top: 0;
}

.house,
.food,
.souvenirs {
	float: left;
}

.recom-title {
	margin-top: 24px;
	margin-bottom: 24px;
	line-height: 21px;
	font-size: 21px;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;
}

.recom::before {
	content: "";
	display: block;
	width: 75px;
	height: 77px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
	background: url("../img/rec-sprite.png") no-repeat;
}

.recom.food::before {
	background-position: -75px 0px;
}

.recom.souvenirs::before {
	background-position: -150px -1px;
}

.recom-text {
	margin-bottom: 27px;
	line-height: 21px;
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
	color: #000000;
}

.view.left {
	float: left;
	height: 256px;
}

.other-promo {
	position: relative;
	z-index: 15;
	width: 100%;
	min-height: 256px;
}

.features {
	width: 400px;
	min-height: 256px;
	padding: 45px;
	background-color: #eeeeee;
}

.area,
.road,
.tourist {
	float: left;
}

.features-title {
	margin-top: 2px;
	margin-bottom: 24px;
	line-height: 21px;
	font-size: 21px;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;
}

.features-number {
	line-height: 21px;
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
	color: #000000;
}

.features-text {
	margin-top: 21px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	line-height: 21px;
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;  
	color: #000000;
}


/*=========================================
 				Форма поиска
===========================================*/

.search {
	position: relative;
}

.search-title {
	margin-top: 1px;
	margin-bottom: 30px;
	line-height: 24px;
	font-size: 30px;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;
}

.search-text {
	width: 100%;
	margin-bottom: 8px;
	line-height: 24px;
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
	color: #000000;
}

.search-block {
	position: absolute;
	top: 205px;
	left: 50%;
	width: 568px;
	min-height: 480px;
	margin-left: -284px;
}

.search-x {
	position: relative;
	z-index: 20;
	padding-top: 55px;
	padding-bottom: 125px;
	background: #ffffff;
}

.search-block-title {
	position: absolute;
	left: 0;
	z-index: 20;
	width: 568px;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	line-height: 86px;
	font-size: 21px;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	color: #ffffff;
	background-color: #766357;
}

.search-form-content {
	display: block;
	position: absolute;
	z-index: 10;
	top: 86px;
	padding: 55px;
	min-height: 285px;
	background-color: #ffffff;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
	animation-name: move_form;
	animation-duration: 600ms;
	animation-timing-function: linear;
}

.search-form-show {
	display: none;
	position: absolute;
	z-index: 10;
}

@-webkit-keyframes move_form {
	0% {
		-webkit-transform: translate(0%, -405px);
			-moz-transform: translate(0%, -405px);
				transform: translate(0%, -405px);
	}
	100% {
		-webkit-transform: translate(0%, 0px);
			-moz-transform: translate(0%, 0px);
				transform: translate(0%, 0px);
	}
}

@keyframes move_form {
	0% {
		-webkit-transform: translate(0%, -405px);
			-moz-transform: translate(0%, -405px);
				transform: translate(0%, -405px);
	}
	100% {
		-webkit-transform: translate(0%, 0px);
			-moz-transform: translate(0%, 0px);
				transform: translate(0%, 0px);
	}
}

.search-form-row {
	display: inline-block;
	width: 458px;
	height: 38px;
	vertical-align: middle;
	margin-bottom: 29px;
}

.search-form-label {
	float: left;
	width: 112px;
	line-height: 38px;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}

.date-span {
	display: inline-block;
	position: relative;
	width: 346px;
	vertical-align: middle;
}

.search-form-input {
	position: relative;
	width: 100%;
	height: 38px;
	padding: 0;
	padding-left: 14px;
	padding-right: 40px;
	font-size: 14px;
	vertical-align: middle;
	text-align: left;
	font-weight: bold;
	text-transform: uppercase;
	border: none;
	background-color: #f2f2f2;
}

.search-form-input:hover {
	background-color: #ebebeb;
}

.search-form-input:focus {
	background-color: #ffffff;
	border: 2px solid #e5e5e5;
}

.cal-img {
	position: absolute;
	top: 8px;
	left: 316px;
	width: 22px;
	height: 22px;
	font-size: 0;
	background: url("../img/icon-sprite.png") 1px 0 no-repeat;
}

.cal-img:hover {
	background-position: -22px 0;
}

.cal-img:active {
	background-position: -45px 0;
}

.search-form-adult,
.search-form-junior {
	display: inline-block;
	height: 38px;
	vertical-align: middle;
	margin-bottom: 54px;
}

.search-form-adult {
	float: left;
	width: 226px;
	margin-right: 50px;
}

.search-form-junior {
	float: right;
	width: 180px;
}

.col-span {
	width: 114px;
	height: 38px;
	margin: 0;
	padding: 0;
}

.col-control {
	float: left;
	position: relative;
	width: 38px;
	height: 38px;
	line-height: 38px;
	font-size: 0px;
	text-decoration: none;
	background-color: #f2f2f2;
}

.col-control::after {
	content: "";
	display: block;
	position: absolute;
	top: 13px;
	left: 13px; 
	width: 12px;
	height: 12px;
	margin: auto;
}

.subtract::after {
	background: url("../img/icon-sprite.png") -225px 5px no-repeat;
}

.subtract:hover::after {
	background-position: -243px 5px;
}

.subtract:active::after {
	background-position: -262px 5px;
}

.add::after {
	background: url("../img/icon-sprite.png") -171px 1px no-repeat;
}

.add:hover::after {
	background-position: -189px 0px;
}

.add:active::after {
	background-position: -206px 0px;
}

.search-form-col {
	float: left;
	width: 38px;
	height: 38px;
	font-size: 14px;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	border: none;
	background-color: #f2f2f2;
}

.search-form-junior label {
	width: 65px;
}

.search-btn {
	display: inline-block;
	width: 100%;
	margin: 0;
	margin-top: 1px;
	padding: 16px;
	line-height: 26px;
	font-size: 21px;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	color: rgba(255, 255, 255, 1);
	border: none;
	background-color: #81b3d2;
}

.search-btn:hover {
	background-color: #669ec0;
}

.search-btn:active {
	color: rgba(255, 255, 255, 0.4);
	background-color: #5496bd;
}

/*Карта*/

.map {
	width: 100%;
	height: 593px;
	background: url("../img/map.jpg") no-repeat;
}

/*===================================================
						Футер
====================================================*/

.main-footer {
	display: table;
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 0;
	background: #ffffff;
	opacity: 0.8;
}

.main-footer-catalog {
	position: relative;
	opacity: 1;
}

.section {
	display: table-cell;
	width: 400px;
	padding: 36px 0;
	vertical-align: middle;
	text-align: center;
}

.hashtag {
	display: block;
	font-size: 21px;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;
}

.social-block {
	width: 156px;
	margin-left: auto;
	margin-right: auto;
}

.footer-social {
	float: left;
	position: relative;
	width: 46px;
	height: 48px;
	margin-right: 6px;
	font-size: 0;
	background-color: #81b3d2;
}

.footer-social:hover {
	background-color: #669ec0;
}

.footer-social:active {
	background-color: #5496bd;
}

.footer-social:active::after {
	opacity: 0.3;
}

.footer-social::after {
	content: "";
	display: block;
	position: absolute;
	top: 14px;
	left: 14px;
	z-index: 10;
	width: 20px;
	height: 30px;
	margin: auto;
}

.twitter::after {
	background: url("../img/icon-sprite.png") -392px 2px no-repeat;
}

.facebook::after {
	background: url("../img/icon-sprite.png") -413px 0px no-repeat;
}

.youtube::after {
	background: url("../img/icon-sprite.png") -435px 2px no-repeat;
}

.footer-social.youtube {
	margin-right: 0;
}

.footer-copyright-text {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin: 0;
	padding-right: 117px;
	line-height: 26px;
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
	color: #000000;
} 

.footer-copyright-img {
	position: relative;
	font-size: 0;
}

.footer-copyright-img::after {
	content: "";
	display: block;
	position: absolute;
	top: -23px;
	left: 4px;
	width: 113px;
	height: 40px;
	font-size: 0;
	background: url("../img/html-sprite.png") 0px -80px no-repeat;
}

.footer-copyright-img:hover::after {
	background-position: 0 -39.5px;
}

.footer-copyright-img:active::after {
	background-position: 0 0.5px;
}

/*======================================================
				Catalog
======================================================*/

.filters {
	width: 100%;
	height: 217px;
	background-color: #7aadff;
	background: url("../img/filter-background.jpg") no-repeat; 
}

.col {
	float: left;
	width: 273px;
	padding-top: 28px;
	color: #ffffff;
}

.col1 {
	width: 200px;
	padding-left: 0px;
	padding-right: 60px;
}

.col2 {
	padding-left: 54px;
	padding-right: 80px;
}

.col3 {
	float: right;
	width: 318px;
	padding: 28px 0;
	color: #ffffff;
}

.filter-title {
	margin: 0;
    margin-bottom: 24px;
	line-height: 21px;
	font-size: 16px;
	text-align: left;
	font-weight: bold;
	text-transform: uppercase;
	color: #ffffff;
}

.check {
	width: 100%;
	margin-bottom: 23px;
}

.label-checkbox input[type="checkbox"] {
	display: none;
}

.label-checkbox {
	position: relative;
	padding-left: 40px;
	line-height: 21px;
	font-size: 14px;
	vertical-align: middle;
	text-align: left;
	text-transform: uppercase;
	color: #ffffff;
	cursor: pointer;
}

.col2 .label-checkbox {
	padding-left: 43px;
}

.label-checkbox input[type="checkbox"] + .checkbox-indicator {
	position: absolute;
	top: 0px;
	left: -2px;
	width: 26px;
	height: 24px;
	background: url("../img/icon-sprite.png") -68px -1px no-repeat;
}

.label-checkbox input[type="checkbox"]:checked + .checkbox-indicator {
	left: 0;
	background: url("../img/icon-sprite.png") -117px -1px no-repeat;
}

.filter-price {
	width: 100%;
	text-transform: uppercase;
	color: #ffffff;
}

.filter-title-price {
	margin-top: 0;
	margin-bottom: 10px;
	padding-left: 1px;
	line-height: 21px;
	font-size: 16px;
	font-weight: bold;
}

.filter-price-slider {
	position: relative;
	height: 36px;
	margin-bottom: 20px;
	font-size: 0;
	border: 2px solid #ffffff;
	border-radius: 2px;
}

.filter-price-slider:after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 2px;
	height: 22px;
	background: #ffffff;
	transform: translate(-50%, -50%);
}

.filter-price-slider label {
	display: inline-block;
	line-height: 30px;
	font-size: 14px;
	vertical-align: middle;
	cursor: pointer;
}

.filter-price-slider .min-price {
	padding-left: 65px;
}

.filter-price-slider .max-price {
	padding-left: 76px;
}

.filter-price-slider input {
	width: 50px;
	margin: 0;
	font: inherit;
	color: inherit;
	border: none;
	background: none;
}

.range-control {
	position: relative;
	margin-bottom: 32px;
}

.range-control .scale {
	height: 2px;
	background: rgba(255, 255, 255, 0.3);
}

.range-control .bar {
	width: 80%;
	height: 2px;
	background-color: #ffffff;
}

.toggle {
	position: absolute;
	top: -9px;
	width: 4px;
	height: 4px;
	border: 8px solid #ffffff;
	background: #ababab;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
	box-sizing: content-box;
}

.toggle:hover {
	background: #1c4f80;
}

.min-toggle {
	left: 0;
}

.max-toggle {
	left: 80%;
}

.search-button {
	display: block;
	width: 137px;
	margin: 0 auto;
	margin-right: 96px;
	padding: 6px 35px;
	line-height: 20px;
	font-size: 14px;
	text-transform: uppercase;
	color: #ffffff;
	border: 2px solid #ffffff;
	border-radius: 2px;
	background: transparent;
	cursor: pointer;
}

.search-button:hover {
	color: #000000;
	background: #ffffff;
}

.results {
	width: 100%;
	padding-top: 31px;
	padding-bottom: 30px;
	border-bottom: 1px solid #e5e5e5;
}

.results-title {
	float: left;
	width: 140px;
	margin: 0;
	line-height: 26px;
	font-size: 21px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;
}

.sorting-title {
	float: left;
	margin: 0;
	margin-top: 4px;
	margin-left: 24px;
	line-height: 21px;
	font-size: 12px;
	text-transform: uppercase;
	color: #000000;
}

.sort {
	float: left;
	margin: 0;
	margin-top: 9px;
}

.sort-type {
	list-style: none;
}

.sort-type a {
	float: left;
	line-height: 12px;
	font-size: 12px;
	text-transform: uppercase;
	text-decoration: none;
	color: #b2b2b2;
	border-bottom: 1px dotted #b2b2b2; 
}

.sort-type .active {
	color: #81b3d2;
	border: none;
}

.sort-type a:hover {
	color: #81b3d2;
	border-color: #81b3d2;
}

.sort-type a:active {
	color: #000000;
	border: none;
}

.sort-type:nth-child(1) {
	float: left;
	width: 60px;
	margin: 0;
}

.sort-type:nth-child(2) {
	float: left;
	width: 60px;
	margin: 0;
	margin-left: 22px;
}

.sort-type:nth-child(3) {
	float: left;
	width: 80px;
	margin: 0;
	margin-left: 22px;
}

.sorting-controls {
	float: right;
	width: 40px;
}

.arrow {
	float: right;
	width: 17px;
	font-size: 0;
}

.up {
	background: url("../img/icon-sprite.png") -284px 10px no-repeat;
}

.up:hover {
	background: url("../img/icon-sprite.png") -302px 10px no-repeat;
}

.up:active {
	background: url("../img/icon-sprite.png") -320px 10px no-repeat;
}

.down {
	background: url("../img/icon-sprite.png") -337px 10px no-repeat;
}

a.click {
	background: url("../img/icon-sprite.png") -372px 9px no-repeat;
}

.item {
	width: 100%;
	padding-top: 27px;
	padding-bottom: 24px;
	border-bottom: 1px solid #e5e5e5;
}

.item-view {
	float: left;
	position: relative;
	width: 135px;
	margin-top: 3px;
	margin-right: -135px;
}

.item-description {
	float: left;
	width: 100%;
	padding-left: 165px;
	padding-right: 120px;
}

.item-title {
	width: 300px;
	margin-top: 0;
	line-height: 21px;
	font-size: 21px;
	text-align: left;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	color: #000000;
}

.item-title:hover {
	color: #a8c9df;
}

.item-title:active {
	color: #cacaca;
}

.item-text {
	width: 300px;
	margin-top: 7px;
	margin-bottom: 14px;
	line-height: 21px;
	font-size: 14px;
	text-align: left;
	text-transform: uppercase;
	color: #000000 ;
}

.type {
	float: left;
	width: 95px;
	margin: 0;
	line-height: 21px;
}

.price {
	float: left;
	margin: 0;
	margin-left: 21px; 
	line-height: 21px;
}

.item-buttons {
	width: 300px;
	height: 27px;
}

.btn-details {
	float: left;
	display: inline-block;
	width: 110px;
	height: 27px;
	line-height: 27px;
	font-size: 14px;
	text-align: center;
	vertical-align: middle;  
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
	color: #ffffff;
	background-color: #81b3d2;
}

.btn-details:hover {
	background-color: #669ec0;
}

.btn-details:active {
	color: rgba(255, 255, 255, 0.4);
	background-color: #5496bd;
}

.btn-reserv {
	float: left;
	display: inline-block;
	width: 143px;
	height: 27px;
	margin-left: 6px;
	line-height: 27px;
	font-size: 14px;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
	color: #ffffff; 
	background-color: #766357;
}

.btn-reserv:hover {
	background-color: #604e43;
}

.btn-reserv:active {
	color: rgba(255, 255, 255, 0.4);
	background-color: #503e33;
}

.item-rating {    
	float: right;
	position: relative;
	width: 110px;
	margin-left: -110px;
}

.rating-stars {
	width: 110px;
	margin-bottom: 42px;
	text-align: right;
}

.star {
	display: inline-block;
	width: 18px;
	height: 18px;
	margin-left: 2px;
	font-size: 0;
	vertical-align: baseline;
	background: url("../img/star.png") 0 2px no-repeat;
}

.rating-text {
	display: inline-block;
	width: 110px;
	height: 27px;
	margin: 0;
	line-height: 26px;
	font-size: 14px;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	color: #000000;
	background-color: #f2f2f2;
}