html {
	box-sizing: border-box; 
}

*,
*:before, 
*:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 21px;
	color: #000000;
	font-weight: normal;
	font-family: 'PT Sans', sans-serif;
}

h2 {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;	
}

.container {
	width: 1200px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

.menu-logo {
	position: absolute;
	top: 0;
	left: 50%;
	z-index: 10;
	width: 138px;
	height: 70px;
	margin-left: -69px;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

.menu li {
	float: left;
	width: 20%;
	list-style-type: none;
	text-align: center; 
}

.menu li:nth-child(3),
.menu li:nth-child(4) {
	float: right;
}

.card {
	position: relative;
	padding-top: 76px;
	padding-bottom: 80px;
	text-align: center;
	height: 530px;
	background: url("../img/background-photo.jpg") no-repeat;
	background-color: #88b4fc; 
}

.card::after {
	width: 100%;
	height: 57px;
	content: "";
	position: absolute;
	right: 0;
	bottom: 0;
	background: url("../img/mask.png") 0 0 no-repeat;
}

.promo-container {
	padding: 55px; 
}

.promo-container-title {
	width: 444px;
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 34px;
	text-align: center;
	line-height: 26px;
}

.promo-container-text {
	width: 100%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.description {
	float: left;
	width: 400px;
	min-height: 262px;
}

.view {
	float: right;
	width: 800px;
}

.description-features {
	padding: 45px;
}

.description-title {
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 34px;
	line-height: 26px;
	text-align: center; 
}

.description-number {
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.description-text {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
    margin-bottom: 0;
    line-height: 21px;
    text-align: center;
}

.recom {
	width: 400px;
	min-height: 329px;
	padding: 55px;
}

.house,
.food,
.souvenirs {
	float: left;
}

.recom-title {
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 34px;
	line-height: 26px;
	text-align: center;
}

.recom-text {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
    margin-bottom: 0;
    line-height: 21px;
    text-align: center;
}

.view.left {
	float: left;
}

.other-promo {
	width: 100%;
	min-height: 256px;
}

.features {
	width: 400px;
	min-height: 256px;
	padding: 45px;
}

.area,
.road,
.tourist {
	float: left;
}

.features-title {
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 34px;
	line-height: 26px;
	text-align: center; 
}

.features-number {
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.features-text {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
    margin-bottom: 0;
    line-height: 21px;
    text-align: center;
}

.search {
	position: relative;
	padding-top: 55px; 
}

.search-title {
	text-align: center;
}

.search-text {
	width: 940px;
	margin-top: 28px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 130px;
	line-height: 24px;
	text-align: center;
}

.search-block {
	position: absolute;
	width: 568px;
	min-height: 480px;
	z-index: 50;
	left: 50%;
	top: 205px;
	margin-left: -284px;
}

.search-block-title {
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	line-height: 86px;
	text-align: center;
	background-color: #766357;
}

.search-form-content {
	padding: 55px;
	min-height: 285px;
	background-color: #ffffff;
}

.search-form-row {
	display: inline-block;
	width: 458px;
	height: 38px;
	margin-bottom: 29px;
}

.search-form-label {
	float: left;
	display: inline-block;
	width: 112px;
	height: 38px;
	line-height: 21px;
	vertical-align: middle;
	text-align: left;
}

.date-span {
	display: inline-block;
	position: relative;
	width: 346px;
}

.search-form-input {
	width: 100%;
	height: 38px;
	background-color: #f2f2f2;
	padding: 0;
	padding-left: 14px;
	padding-right: 40px;
	font-size: 14px;
}

.search-form-adult,
.search-form-junior {
	display: inline-block;
	height: 38px;
	margin-bottom: 54px;
}

.search-form-adult {
	width: 226px;
	margin-right: 53px;
}

.search-form-junior {
	width: 180px;
}

.col-span {
	width: 114px;
	height: 38px;
	padding: 0;
	margin: 0;
}